@import "text";
@import "transitions";

.v-application {
  color: rgb(var(--v-theme-accent)) !important;
}

.v-card {
  color: rgb(var(--v-theme-accent)) !important;
}

.rounded-card {
  border-radius: 50% !important;
}
