$main-font: "Kalam";

html {
  font-family: $main-font !important;
}

.text-h2 {
  font-family: $main-font !important;
}
.text-h3 {
  font-family: $main-font !important;
}
.text-h4 {
  font-family: $main-font !important;
}
.text-h5 {
  font-family: $main-font !important;
}
.text-h6 {
  font-family: $main-font !important;
}
.text-body-1 {
  font-family: $main-font !important;
}

.v-application {
  color: rgb(var(--v-theme-accent)) !important;
}

.v-card {
  color: rgb(var(--v-theme-accent)) !important;
}

.rounded-card {
  border-radius: 50% !important;
}
